#preview{
	color:black;
	height: 500px;
	}
#center_preview{
	height:500px;
	width:1000px;
	margin:0 auto;
	background: url(images/wave.png) ;
	}
#topic{
	background: url(images/topic.png) repeat;
	width:250px;
	float:left;
	font-size: 13px;
	margin:40px 10px 10px 10px;
	border: 1px solid #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}

#topic h2{
	width:200px;
	padding: 10px 0 0 50px; 
	}
#topic li{
	padding: 5px 10px 10px 10px;
	line-height: 20px;
	}
#topic li{
	color:black;
	font-weight: bold;
	}